<header>
    <div class="container">
        <h5> Welcome : {{loggedUser}}</h5>
    </div>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/employee">Add Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/employeelist">List of Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="report">Payroll</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="logOut()">LogOut</a>
            </li>
        </ul>
    </nav>


</header>

